.TimeDivider {
  background-color: white;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color:grey;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 10px;
  padding-bottom: 0px;
}

.TimeDivider:hover {
  color: grey
}
